.main {
    padding: 40px;
    color: #ddd;
    max-width: 1000px;
    margin: 0 auto;
}

.main h1 {
    display: flex;
    gap: 10px;
    align-items: center;
}

.main a {
    text-decoration: none;
}

.main section {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
}

.main section .card1, .main section .card2 {
    cursor: pointer;
    background-color: transparent;
    border: #aaa 2px solid;
    color: #aaa;
}

.main section .card1 *, .main section .card2 * {
    transition: none;
}

.main section .card1:hover, .main section .card2:hover {
    box-shadow: 0 2px 30px 0 #00e1ff64;
    background-color: #aaa;
    color: #00fff2;
}